{% extends 'base.html' %}

{% block title %}My Top 10 Movies{% endblock %}

{% block content %}
<div class="container">
    <h1 class="heading">My Top 10 Movies</h1>
    <p class="description">These are my all-time favourite movies.</p>
    {% for data in all_data %}
        <div class="card" >
          <div class="front" style="background-image: url('{{ data['img_url'] }}');">
              <p class="large">{{ data.ranking }}</p>
          </div>
          <div class="back">
            <div>
          <div class="title">{{ data.title }} <span class="release_date">{{ data.year }}</span></div>
              <div class="rating">
                  <label>{{ data.rating }}</label>
                <i class="fas fa-star star"></i>
              </div>
                <p class="review">{{ data.review }}</p>
              <p class="overview">
                  {{ data.description }}
              </p>
              <a href="{{ url_for('edit', id=data.id) }}" class="button">Update</a>
              <a href="{{ url_for('delete', id=data.id) }}" class="button delete-button">Delete</a>
            </div>
          </div>
        </div>
    {% endfor %}
</div>
<div class="container text-center add">
<a href="{{ url_for('add') }}" class="button">Add Movie</a>
</div>
{% endblock %}